@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.theme-dark:root {
  --tv-color-platform-background: #023148;
  --tv-color-pane-background: #023148;
  --tv-color-pane-background-secondary: #023148;
}

html.theme-dark .chart-page .chart-container-border {
  background-color: #023148 !important;
}
