@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.theme-dark:root {
  --tv-color-platform-background: #091D2E;
  --tv-color-pane-background: #091D2E;
  --tv-color-pane-background-secondary: #091D2E;
}

html.theme-dark .chart-page .chart-container-border {
  background-color: #0D1B28 !important;
}
