name: Deploy Backend Production
on:
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - api
  workflow_dispatch:

# TODO automate this deployment again
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Deploy API to production
        run: |
          npx serverless config credentials --provider aws --key ${{ secrets.DGNX_WEBSITE_AWS_ACCOUNT_ID }} --secret ${{ secrets.DGNX_WEBSITE_AWS_ACCOUNT_KEY }} --profile dgnx
          cd api && npx serverless deploy -s production --param="SNOWTRACE_API_KEY=${{ secrets.SNOWTRACE_API_KEY }}"
